## Task

1. Remove zero at the begining of an interger
2. Remove extra spaces from text

In [18]:
# !pip install pandas
# !pip install regex

In [19]:
import pandas as pd
import re

import warnings
warnings.filterwarnings('ignore')

In [20]:
data = pd.read_csv('db8606full_cleaned.csv')
data.head(2)

,id,Question,Answer,topic_name,topic_words,Riya,\n,Lola,Sanjana,Eva,...,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Final
0,1,What were the sources of atmospheric nutrients...,The primary sources of atmospheric nutrients t...,Bio-Fishery Costs.,"Fisheries, fishing, zooplankton, bioclimatic, ...",analysis,Taxonomy,analysis,analysis,analysis,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,How was the fertilization effect on phytoplank...,The fertilization effect on phytoplankton was ...,Bio-Fishery Costs.,"Fisheries, fishing, zooplankton, bioclimatic, ...",analysis,NaN,analysis,analysis,analysis,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
data.shape

(8262, 27)

In [22]:
data.Answer.isna().sum()

0

## Remove invalid number from integers

In [23]:
data.Answer.loc[1920]

'The optimized models improved the accuracy of 64% of the pixel-by-pixel predictions, and significantly improved proximately 50% of the total area compared to the basic models p < 005.'

In [24]:
data.Answer.loc[1924]

'The area converted from forest, utilized and cultivated land to grassland accounts for only 017% of the total high vulnerability area of Annan grasslands.'

In [25]:
# Function to remove leading zeros from numbers using regex substitution
def remove_leading_zeros(text):
    pattern = r'\b0+(\d+(\.\d+)?)\b'
    
    # Use regex substitution to remove leading zeros from the text
    result = re.sub(pattern, r'\1', text)
    return result

# Apply the function element-wise to the 'Answer' column using apply() method
data['Answer'] = data['Answer'].apply(remove_leading_zeros)
data['Answer'] = data['Answer'].apply(remove_leading_zeros)

In [26]:
data.Answer.loc[1920]

'The optimized models improved the accuracy of 64% of the pixel-by-pixel predictions, and significantly improved proximately 50% of the total area compared to the basic models p < 5.'

In [27]:

data.Answer.loc[1924]

'The area converted from forest, utilized and cultivated land to grassland accounts for only 17% of the total high vulnerability area of Annan grasslands.'

## Remove extra space

In [28]:
# Sample DataFrame with 'Question' and 'Answer' columns containing extra spaces
data = pd.DataFrame({
    'Question': [' What is the objective of the study?  '],
    'Answer': [' This is the answer with extra spaces.  ']
})

# Function to remove extra spaces from specified columns
def remove_extra_spaces(df, columns):
    for column in columns:
        df[column] = df[column].str.replace(r'\s+', ' ', regex=True).str.strip()
    return df

# Columns to clean (in this case, 'Question' and 'Answer')
columns_to_clean = ['Question', 'Answer']

# Call the function to remove extra spaces from specified columns
cleaned_data = remove_extra_spaces(data, columns_to_clean)

# Print the updated DataFrame
print(cleaned_data)

                              Question                                 Answer
0  What is the objective of the study?  This is the answer with extra spaces.